*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{

    height: 70vh;
    width: 50vh;
    border: 4px solid white;
    background: linear-gradient(135deg,#00feba,#5b548a);
    justify-content: center;
    text-align: center;
}

.search{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1rem;
}
.search input{
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    background: #ebfffc;
}

.search button{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.details{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    font-size: 2rem;
}


.weather,.details{
    visibility: hidden;
}